{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<div class="fiche-titre">
		<hr class="my-4"/>
		Inscription *
		<hr class="my-4"/>
	</div>
    <div class"form-login">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </br>
	<div class="fiche-titre">

		Informations complementaires *

	</div>
        {{ form_row(registrationForm.name, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.lastName,{
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.adress,
        {
            label: 'Adresse'
        }) }}
        {{ form_row(registrationForm.zipCode,{
            label: 'Code postale'
        }) }}
        {{ form_row(registrationForm.city,{
            label: 'Ville'
        }) }}
        <br/>

        <button type="submit" class="btn btn-lg btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
